<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        	<!-- Appel de la police FontAwesome pour les icônes -->
{# 			<link rel="stylesheet" type="text/css" href="{{asset('css/all.css')}}">
 #}
 			<script src="https://use.fontawesome.com/452826394c.js"></script>
			<!-- CSS PERSO -->
			<!-- Appel de la feuille de style principale -->
        	<link rel="stylesheet" type="text/css" href="{{asset('css/style.css')}}">
        {% endblock %}
    </head>
    <body>
    	<header>

			<nav id="nav_mob">
				<a href="{{path('app_home')}}"><img src="{{asset('img/logo.png')}}" alt="logo de larrun-prod représentant de profil la Rhune en vert, le ciel en bleu et cerclé de rouge" class="logo"></a>
				<div id="nav-i">
					<a href="{{path('app_home')}}"><i class="fas fa-home"></i></a>
					<a href="{{path('app_real')}}"><i class="fas fa-edit"></i></a>
					<a href="prestations.php"><i class="fas fa-sticky-note"></i></a>
					<a href="contact.php"><i class="fas fa-mail-bulk"></i></a>
				</div>
			</nav>
		

	<!-- mise en place du menu supérieur de navigation -->
			<nav id="topnav">
				<ul>
					<li><a href="{{path('app_home')}}"><img src="{{asset('img/logo.png')}}" alt="logo de larrun-prod représentant de profil la Rhune en vert, le ciel en bleu et cerclé de rouge" class="logo"></a></li>
					<li><a href="{{path('app_home')}}">Accueil</a></li>
					<li><a href="{{path('app_real')}}">Réalisations</a></li>
					<li><a href="prestations.php">Prestations</a></li>
					<li><a href="contact.php">Contact</a></li>
				</ul>
			</nav>
		
	
		</header>
        {% block main %}{% endblock %}

        <footer>
	<!-- mise en place du menu inférieur de navigation -->
			<nav id="bottomnav">
				<ul>
					<li><a href="{{path('app_home')}}">Accueil</a></li>
					<li><a href="{{path('app_real')}}">Réalisations</a></li>
					<li><a href="prestations.php">Prestations</a></li>
					<li><a href="contact.php">Contact</a></li>
				</ul>
			</nav>
		
		</footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
